<header><h2>Quap Quap<h2></header>
<div class="container">
<div class="question">
<p class="question_order">Question (<%=@metrics[:current]%> of <%= @metrics[:total] %>):</p>
<%= @correct_answer.question.body %>
<br>
</div>
<div class="correct_answer">
<p>Correct answer(for testing):</p>
<%= @correct_answer.answer.body  %><br>
<%= @correct_answer.id  %><br>
<br>
</div>

<div class="status">
<% if params[:status] == "incorrect" %>
  <p id="incorrect">Try harder next time</p>
<% end %>
<% if params[:status] == "correct" %>
  <p id="correct">Well done</p>
<% end %>
</div>

<ul class="image_grid">
<form action="/game/<%= @correct_answer.id %>" method='post'>
<li>
  <img src="<%=@answer_options[0].picture.path %>">
  <input type="radio" name="answer[user_choice]" value="<%=@answer_options[0].answer_id %>" ><%=@answer_options[0].answer.body %>
  <br>
</li>
<li>
  <img src="<%=@answer_options[1].picture.path %>">
  <input type="radio" name="answer[user_choice]" value="<%=@answer_options[1].answer_id %>"><%=@answer_options[1].answer.body %>
  <br>
</li>
<li>
  <img src="<%=@answer_options[2].picture.path %>">
  <input type="radio" name="answer[user_choice]" value="<%=@answer_options[2].answer_id %>"><%=@answer_options[2].answer.body %>
  <br>
</li>
<li>
  <img src="<%=@answer_options[3].picture.path %>">
  <input type="radio" name="answer[user_choice]" value="<%=@answer_options[3].answer_id %>"><%=@answer_options[3].answer.body %>
  <br>
</li>
</br>

  <input type="submit">
</form>
</div>
