<h1>Quap Quap</h1>
<p>Question (<%=@metrics[:current]%> of <%= @metrics[:total] %>):</p>
<%= @correct_answer.question.body %>
<br>
<p>Correct answer(for testing):</p>
<%= @correct_answer.answer.body  %><br>
<%= @correct_answer.id  %><br>
<br>

<% if params[:status] == "incorrect" %>
  <p>Try harder next time</p>
<% end %>
<% if params[:status] == "correct" %>
  <p>Well done</p>
<% end %>

<form action="/game/<%= @correct_answer.id %>" method='post'>
  <img src="<%=@answer_options[0].picture.path %>">
  <input type="radio" name="answer[user_choice]" value="<%=@answer_options[0].answer_id %>" ><%=@answer_options[0].answer.body %>
  <br>
  <img src="<%=@answer_options[1].picture.path %>">
  <input type="radio" name="answer[user_choice]" value="<%=@answer_options[1].answer_id %>"><%=@answer_options[1].answer.body %>
  <br>
  <img src="<%=@answer_options[2].picture.path %>">
  <input type="radio" name="answer[user_choice]" value="<%=@answer_options[2].answer_id %>"><%=@answer_options[2].answer.body %>
  <br>
  <img src="<%=@answer_options[3].picture.path %>">
  <input type="radio" name="answer[user_choice]" value="<%=@answer_options[3].answer_id %>"><%=@answer_options[3].answer.body %>
  <br>
  <input type="submit">
</form>


